body{
    margin: 0;
}
p{
    font-size: 15px;
    text-align: justify;
}
.header{
    font-family: 'Bona Nova', serif;
    font-size: 25px;
}
.span1{
    color: rgb(39, 146, 13);
}
.flaxiable-container{
    display: flex;
    margin-bottom: 150px;
}
.half-whight{
    width: 50%;
    padding: 3%;
    

}
.half-whight img{
    width: 70%;
}
.link-button{
    color: rgb(12, 12, 12);
    text-decoration: none;
    background: linear-gradient(to right, #f7b80a, #108bbbc0);
    border-radius: 5px;
    padding: 10px 20px;

}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    
    margin: 0px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exprience-itam{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    box-shadow: 10px 10px 40px rgb(122, 68, 68);
    border-radius: 5px;
}
.ssss{
    text-align: center;
    margin: 50px;
    font-size: 40px;
}
.experience-area{

    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experiance-wev{
    border-left: 7px solid;
    border-image: linear-gradient(rgba(0, 0, 255, 0.925), rgba(224, 149, 11, 0.274)) ;
    border-image-slice: 1;
    
    
}
#experiance-wev1{
    border-left: 7px solid;
    border-image: linear-gradient(rgba(169, 172, 9, 0.925), rgba(230, 11, 131, 0.274)) ;
    border-image-slice: 1;
    
}
.footer{
    text-align: center;
}